<!DOCTYPE html>
<html lang="es">
<head>
	<title>Se lo que quieras ser</title>
	<meta charset= "utf-8" />	
</head>
<body>
	 <header>
		<nav> 
		<ul>
			Dany González 
		</ul>
		</nav>
	</header>
	<img src="imagenes/DanyGonzalez.png">
<h1>YO QUIERO SER ESPECIALISTA DE DRONES</h1>	
<p>Es el momento para alcanzar tus sueños haciendo</p>
<section>
	<article>
		<a href="http://homechemistry.blogspot.mx/2011/05/homemade-lava-lamp-new-and-improved.html"><img src="imagenes/cajarosa.png"></a>
		<figcaption>Nivel 1</figcaption>
	</article>
	<article>
		ticle>
		<a href="http://homechemistry.blogspot.mx/2011/05/homemade-lava-lamp-new-and-improved.html"><img src="imagenes/cajarosa.png"></a>
		<figcaption>Nivel 2</figcaption>
	</article>
	<article>
		<a href="http://homechemistry.blogspot.mx/2011/05/homemade-lava-lamp-new-and-improved.html"><img src="imagenes/cajarosa.png"></a>
		<figcaption>Nivel 3</figcaption>
	</article>
	<article>
		<a href="http://homechemistry.blogspot.mx/2011/05/homemade-lava-lamp-new-and-improved.html"><img src="imagenes/cajarosa.png"></a>
		<figcaption>Nivel 4</figcaption>
	</article>
	<article>
		<a href="http://homechemistry.blogspot.mx/2011/05/homemade-lava-lamp-new-and-improved.html"><img src="imagenes/cajarosa.png"></a>
		<figcaption>Nivel 5</figcaption>
	</article>
	<article>
		<a href="http://homechemistry.blogspot.mx/2011/05/homemade-lava-lamp-new-and-improved.html"><img src="imagenes/cajarosa.png"></a>
		<figcaption>Nivel 6</figcaption>
	</article>
</section>

<footer>
	<!--/iconmoon/-->
	<img src="">
</footer>
</body>
</html>


	